body {
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
            supported by Chrome, Opera and Firefox */
    
}

* {
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid grey;
    flex-direction: column;
    background-color: #D3D3D3;
    width: 164px;
    padding: 1.5em 0.75em;
    align-items: center;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    position: fixed;
    left: 0
}

.sidebar svg {
    height: 1rem;
    width: 1rem;
}

.sidebar-main {
    display: flex;
    height: 70%;
    align-items: center;
    padding: 0.5em 1.5em;
    background-color: #BDBDBD;
    margin-top: 1.5rem;
}

.sidebar-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sidebar-contents {
    list-style: none;
    padding: 4vh 0.15vw;
    transition: 0.3s;
}

.sidebar-contents:hover {
    background-color: #D3D3D3;
}

.profile-img {
    border-radius: 50%;
}

.chat {
    margin-left: 164px;
    width: auto;
}

.online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
  }

.chat .messages-chat {
    padding: 25px 35px;
  }
  
  .chat .messages-chat .message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .chat .messages-chat .message .photo {
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .chat .messages-chat .text {
    margin: 0 35px;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 12px;
  }
  
  .text-only {
    margin-left: 45px;
  }
  
  .time {
    font-size: 10px;
    color:lightgrey;
    margin-bottom:10px;
    margin-left: 85px;
  }
  
  .response-time {
    float: right;
    margin-right: 40px !important;
  }
  
  .response {
    float: right;
    margin-right: 0px !important;
    margin-left:auto; /* flexbox alignment rule */
  }
  
  .response .text {
    background-color: #e3effd !important;
  }
  
  .footer-chat {
    width: calc(100% - 164px);
    height: 10vh;
    display:flex;
    align-items: center;
    position:absolute;
    bottom: 0;
    background-color: transparent;
    border-top: 2px solid #EEE;
    
  }
  
  .write-message {
    border:none !important;
    width:60%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
  }
  
  .footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
  }
  .footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }